<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2>음성 수정</h2>


<form method="post" action = "#" th:action="@{/dementia/modified}" th:object="${result}">
    <input type="radio" name="radio" checked="checked" id="A"  value="A">A
    <br>
    <input type="radio" name="radio" id="B"  value="B">B
    <br>
    <br>


    <tr th:each="tbs : ${seperate}" >

    <th:block th:if = "${tbs.name == 'A'}">
        <div style="float:left;background-color:MintCream;margin-left:500px">
            name :
            <td id = "nameA" name = "nameA" th:text="${tbs.name}">이름란</td>
            <br/>
            text :
            <textarea id="textA" name="textA" th:text ="${tbs.text}">문자란</textarea>
            <br/>
        </div>
        <br/>
        <br/>
        <br/>
    </th:block>

    <th:block th:unless = "${tbs.name == 'A'}">
        <div style="float:right;background-color:GhostWhite;margin-right:500px">
            name :
            <td id="nameB" name = "nameB" th:text="${tbs.name}">이름란</td>
            <br/>
            text :
            <textarea id="textB" name = "nameB" th:text ="${tbs.text}">문자란</textarea>
        </div>

        <br/>
        <br/>
        <br/>
    </th:block>
    </tr>

</tr>
    <button type="submit">수정하기</button>
</form>

</body>
</html>